
@{
    ViewData["Title"] = "ConfirmacionCompra";
    Layout = "~/Views/Shared/_Layout_Horizontal.cshtml";
}

<div class="row">
    <div class="col-sm-12 text-center">

                <br />
                <h1 class="text-success">Gracias!</h1>

                <i class="far fa-check-circle fa-9x text-success"></i>

                <h2 class="text-success"> Su pago se confirmará en seguida</h2>
                <br />
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver a la tienda</a>

            

    </div>
</div>

